<div class="description">
  <p>- Практичное удобное изделие по приемлемой цене.</p>
  <p>- Кресло принимает форму тела за счет множества маленьких шариков пенопласта внутри (диаметр
    2-4мм).</p>
  <p>- Собственное изготовление, делаем на совесть.</p>
  <p>- Кресла всегда в наличии для Вас, отправляем заказ быстро.</p>
  <p>- Скидки уже от двух кресел в Вашем заказе (при 2шт по 2р скидка с каждого, при 3шт по 3р скидка с
    каждого … при 9шт по 9р скидка с каждого, от 10шт скидка оговаривается индивидуально).</p>
  <p>- Можно пользоваться дома и на улице.</p>
  <p>- Состоит из двух чехлов. Внутренний в качестве оболочки наполнителя, а внешний съемный
    предназначен
    для нагрузки:
    <br>1. изготовлен из очень прочной ткани грета (60% синтетика / 40% хлопок, используется для пошива
    спецодежды), плотность около 200 гр/м.кв., практичная ткань, с влагоотталкивающей пропиткой. Чехол
    легко
    снять и постирать или заменить на другой цвет;
    <br>2. изготовлен из мебельной ткани (40% синтетика / 60% хлопок, используется для обивки мягкой
    мебели), плотность около 300-400 гр/м.кв., более плотная, деликатная, мягкая ткань. Чехол легко
    снять и
    постирать или заменить на другой цвет.
  </p>
  <p>- Используются крепкие нити и двойной шов для устойчивости к разрыву и долгого использования.
    Молния
    100 см, чтобы снять и одеть чехол было легко.</p>
  <p>- Наполнитель: шарики пенопласта (не крошка!) высокой плотности - 15кг/м.куб., а значит долго не
    оседают и держат форму.</p>
  <p>- Есть множество цветов в наличии: однотонные, с узорами, с рисунками. Возможно нанесение любого
    принта (картинки) по Вашему желанию.</p>
  <p>Размер универсальный взрослый, кресло очень вместительное, ширина около 100 см, высота в
    вытянутом
    положении около 120см, высота сидя на кресле 80-90 см. Будет удобно для человека массой до 120 кг и
    ростом до 190 см. А Ваши дети в нем будут чувствовать себя тем более комфортно и смогут даже лежать.
    В
    итоге Вы приобретаете классное кресло-мешок для всей семьи за приемлемую цену.</p>
  <p>- <strong>Вес</strong> кресла: 5.5 кг (4 кг наполнитель + 1.5 кг чехлы).</p>
  <p>- <strong>Доставка</strong> в любой населенный пункт Беларуси курьером на дом в течение 1-3
    дней.
    Цена доставки 10р за 1шт, 12р за 2шт, цена большего количества по согласованию. Оплата наличными при
    получении или предоплата онлайн на выбор покупателя. Также возможен самовывоз в день заказа.</p>
  <p>- <strong>Гарантия</strong> на наши изделия 12 месяцев. Обязуемся сделать возврат или обмен
    Вашего
    заказа по объективным причинам за наш счет (не понравился цвет, например, и прочее).</p>
  <p>- Также можно заказать отдельно чехлы или наполнитель (шарики пенопласта). Цены уточняйте.</p>
  <p>- Мы стараемся, чтобы Вам было комфортно! Звоните по любым вопросам!</p>
</div>
