<div [style.backgroundImage]="'url(https://devi-bag.by/assets/photo/big/' + appService.sliderImageFileName + ')'"
     class="image"></div>


<div class="h1"><span>Кресло-мешок «DEVI»</span></div>

<div [formGroup]="form" class="orderForm">
  <div class="orderImages">
    <div (click)="appService.removeFromOrders(idx)"
         *ngFor="let order of appService.orders;  index as idx"
         [style.backgroundImage]="'url(https://devi-bag.by/assets/photo/big/' + order.link + ')'"
         class="orderImages__image">
    </div>
  </div>
  <div class="form">
    <div class="form__group field">
      <input class="form__field" formControlName="name" id="name" name="name" placeholder="Name"
             required type="text" />
      <label class="form__label" for="name" i18n>Имя</label>
      <div class="icon icon_account-circle">
        <svg height="25" viewBox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.5,3A12.5,12.5,0,1,0,28,15.5,12.5,12.5,0,0,0,15.5,3Zm0,3.75a3.75,3.75,0,1,1-3.75,3.75A3.745,3.745,0,0,1,15.5,6.75Zm0,17.75A9,9,0,0,1,8,20.475c.038-2.488,5-3.85,7.5-3.85s7.462,1.362,7.5,3.85A9,9,0,0,1,15.5,24.5Z"
            data-name="icon account-circle"
            fill="#757575"
            id="icon_account-circle" transform="translate(-3 -3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="form__group field">
      <input class="form__field" formControlName="phone" id="phone" name="phone" placeholder="Phone"
             required type="text" />
      <label class="form__label" for="phone" i18n>Номер</label>
      <div class="icon icon_account-circle">
        <svg height="25" viewBox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.5,3A12.5,12.5,0,1,0,28,15.5,12.5,12.5,0,0,0,15.5,3Zm0,3.75a3.75,3.75,0,1,1-3.75,3.75A3.745,3.745,0,0,1,15.5,6.75Zm0,17.75A9,9,0,0,1,8,20.475c.038-2.488,5-3.85,7.5-3.85s7.462,1.362,7.5,3.85A9,9,0,0,1,15.5,24.5Z"
            data-name="icon account-circle"
            fill="#757575"
            id="icon_account-circle" transform="translate(-3 -3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="form__group field">
      <input class="form__field" formControlName="address" id="address" name="address"
             placeholder="Address" required type="text" />
      <label class="form__label" for="address" i18n>Адрес</label>
      <div class="icon icon_map-marker-alt">
        <svg height="33.333" viewBox="0 0 25 33.333" width="25" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.215,32.661C1.756,18.947,0,17.54,0,12.5a12.5,12.5,0,0,1,25,0c0,5.04-1.756,6.447-11.215,20.161a1.563,1.563,0,0,1-2.569,0ZM12.5,17.708A5.208,5.208,0,1,0,7.292,12.5,5.208,5.208,0,0,0,12.5,17.708Z"
            data-name="icon map-marker-alt"
            fill="#757575"
            id="icon_map-marker-alt" />
        </svg>
      </div>
    </div>

  </div>

  <div></div>
  <div *ngIf="!!appService.summ" class="fullPrice">Итого: {{appService.summ}} BYN</div>
  <div></div>
  <div (click)="onSubmit()"
       *ngIf="this.form.valid && this.form.touched && !appService.thanks"
       class="btn btn_send">
    <div class="icon icon_send">
      <svg height="51.343" viewBox="0 0 51.348 51.343" width="51.348" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M45.248.1.58,19.573a1.024,1.024,0,0,0,.037,1.862L12.7,28.261a1.948,1.948,0,0,0,2.227-.219L38.751,7.5c.158-.134.535-.389.681-.243s-.085.523-.219.681L18.6,31.157a1.942,1.942,0,0,0-.195,2.324l7.9,12.667a1.028,1.028,0,0,0,1.85-.024L46.623,1.455A1.024,1.024,0,0,0,45.248.1Z"
          fill="#838383"
          id="path" transform="matrix(0.995, -0.105, 0.105, 0.995, 0, 4.884)" />
      </svg>
    </div>
  </div>
  <div *ngIf="appService.thanks" [formGroup]="form" [style]="{right: '45px'}" class="slider__form">
    <div class="thanks" i18n>
      <div [style.backgroundImage]="'background-image: url(assets/photo/big/orange_2.jpg);'" class="avatar"></div>
      Спасибо большое за заявку! <br> Меня зовут Денис. Я постараюсь Вас набрать в течении часа и уточнить
      детали.
    </div>
  </div>
</div>

