@import "vars";

:host {
  box-shadow: 0 0 50px #9f9f9f38;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 60px;

  @media (max-width: $point2) {
    justify-content: center;
  }
  @media (min-width: $point3) {
    justify-content: space-between;
  }

  .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    @media (max-width: $point4) {
      position: absolute;
      height: 292px;
    }
    z-index: -1;
  }

  .toggle {
    cursor: pointer;
    padding: 45px;
  }

  .h1 {
    width: 50%;
    place-content: center;
    display: grid;
    font-weight: 700;
    font-size: xxx-large;
    color: #f1f1f1;
    margin: 60px;

    span {
      background: #fff;
      color: #919191;
    }

    @media (max-width: $point2) {
      font-size: xx-large;
      text-align: center;
    }

  }

  .orderForm {
    width: 250px;
    height: auto;
    padding: 40px;
    margin: 60px;
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    top: 270px;
    border-radius: 3px;
    box-shadow: 0 0 10px inset #cccccc8a, 0 0 100px #3636335e;
    border: 5px solid #ccc0;
    @media (min-width: $point2) {
      width: 350px;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      &__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
      }

      &__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 1.3rem;
        color: $c2;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        padding-left: 45px;

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ .form__label {
          font-size: 1.3rem;
          cursor: text;
          top: 20px;
        }
      }

      &__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $gray;
        left: 45px;
      }

      &__field:focus {
        ~ .form__label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: $c2;
          font-weight: 700;
        }

        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
      }

      /* reset input */
      &__field {
        &:required, &:invalid {
          box-shadow: none;
        }
      }
    }

    .fullPrice {
      text-align: right;
      width: 100%;
      margin: 10px 0;
    }

    .icon_send {
      display: flex;
      align-items: center;
    }
  }

  .orderImages {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    &__image {
      height: 48px;
      width: 100%;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      position: relative;

      .trash {
        background-image: url($assetsLink + '/imgs/delete_remove.svg');
        position: absolute;
        top: -30px;
        right: 0px;
        color: #76707e;
        font-size: 37px;
        width: 100%;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  pu-add-shopping-cart {
    position: absolute;
    transform: translate(300px, 600px) scale(1)
  }

  .form .icon {
    position: absolute;
    bottom: 0;
  }

  .btn_send {
    margin: 20px auto 0 auto;
    cursor: pointer;
  }

  .thanks {
    .avatar {
      background-image: url($assetsLink + '/photo/big/orange_2.jpg');
      background-position: 50% 10%;
      background-repeat: no-repeat;
      height: 90px;
      width: 100%;
      background-size: 700px;
      margin-bottom: 20px;
    }
  }

}
