<div><span title="Компания"><strong>Информация для покупателя</strong></span>
  <div title="Телефоны">
    <div i18n>Телефон: +375336935090 (опт, сотрудничество), +375339922533 (розница)</div>
  </div>
  <span i18n title="Контактное лицо">Контактное лицо: Денис</span>
  <address i18n title="Адрес">
    Самовывоз: <span title="Минск">Могилев, </span><span title="ул. Дзержинского 11а">ул.Дзержинского 11а</span><br>
  </address>
  <a href="mailto:devi.bag.by@gmail.com" title="Email">info@devi-bag.by</a>
  <div title="Viber">Viber: +375339922533</div>
  <div title="WhatsApp">WhatsApp: +375339922533</div>
  <div>Telegram: @devibag</div>
  <div>Дата регистрации в Торговом реестре РБ: 10.06.2015</div>
  <div>Номер в Торговом реестре РБ: 489449</div>
  <div><a href="https://images.by.prom.st/188200681_188200681.jpg" target="_blank"> Ссылка на свидетельство/лицензию</a></div>
</div>
<div style="text-align: right">

</div>
