<div><span title="Компания"><strong>devi-bag</strong></span>
  <div title="Телефоны">
    <div i18n>Телефон: +375336935090 (опт, сотрудничество), +375296930036</div>
  </div>
  <span i18n title="Контактное лицо">Контактное лицо: Денис</span>
  <address i18n title="Адрес">
    Самовывоз: <span title="Минск">Могилев, </span><span title="ул. Дзержинского 11а">ул.Дзержинского 11а</span><br>
  </address>
  <a href="mailto:devi.bag.by@gmail.com" title="Email">info@devi-bag.by</a>
  <div title="Viber">Viber: +375336935090</div>
  <div title="WhatsApp">WhatsApp: +375336935090</div>
</div>
<div style="text-align: right">
  <strong>Информация для покупателя</strong> <br>
  Индивидуальный предприниматель <br>
  Продолятченко Денис Викторович <br>
  Дата регистрации в Торговом реестре РБ: 10.06.2015 <br>
  Номер в Торговом реестре РБ: 489449 <br>
  Регистрационный номер УНП: 790583589<br>
  Регистрационный орган: Шкловский райисполком <br>
  Дата регистрации компании: 25.06.2013 <br>
  <a href="https://images.by.prom.st/188200681_188200681.jpg" target="_blank"> Ссылка на свидетельство/лицензию</a>
</div>
