@import "vars";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  @include scroll();
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


/*Настройка формы*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  &__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }

  &__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $c2;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    padding-left: 45px;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }

  &__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $c2;
      font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $c1, $c2);
    border-image-slice: 1;
  }

  /* reset input */
  &__field {
    &:required, &:invalid {
      box-shadow: none;
    }
  }
}

::selection {
  background: $c1
}


pu-root {
  display: grid;

  @media (max-width: $point1) {
    grid-template: auto/1fr 1fr minmax(100%, 1600px) 1fr 1fr;
  }
  overflow-x: hidden;
  border-bottom: 10px solid #9b9b9b;
  @media (min-width: $point1 + 1) {
    grid-template: auto auto minmax(850px, 1800px) 300px/1fr 1fr minmax(895px, 1600px) 1fr 1fr;
  }

  .header, .icons_header, .slider_main {
    grid-column: 3/4
  }
;

  .header {
    display: grid;
    grid-row: 1/2;
    grid-template: auto/1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    @media (max-width: $point1) {

      grid-template: auto/1fr 1fr 1fr 1fr 1fr 1fr;
      margin: 20px 0;
      font-size: x-small !important;
    }

    &_expand {
      & * {
        transition: 200ms
      }
    }

    &_compress {
      .price_header {
        transform: rotate(-30deg) scale(0.2) translate(-0px, -0px) !important;
        left: 0;
      }

      & * {
        transition: 400ms
      }
    }
  }

  .logo {
    &_main {
      grid-row: 1/2;
      grid-column: 3/4;
      cursor: pointer;
      position: relative;
      text-align: center;
      align-items: self-end;
      display: flex;
      justify-content: center;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 800;
      color: #89788d;
      text-shadow: 2px 1px 2px #ffffff, 6px 2px 2px #82707e, 2px 2px 60px #380045;

      a {
        color: inherit;
        text-decoration: unset
      }

      @media (max-width: $point1) {
        font-size: 40px;
        grid-column: 1/7;
      }
    }

    &__circle {
      width: 110px;
      height: 110px;
      border-radius: 100%;
      border: 1px solid $c1;
      margin: auto;
      position: relative;
      background: url(assets/logo.png) 50% 60%, #707070;
      background-size: 480px;
      background-repeat: no-repeat;
      background-blend-mode: screen;
      z-index: 1;
    }
  }

  .contacts {
    justify-content: space-between;
    display: flex;
    color: #6c747b;
    text-shadow: 1px 1px 0 #fff, 2px 2px 1px #e5e6e7;
    cursor: pointer;

    &_header {
      &_left {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-content: flex-end;
      }

      &_right {
        grid-row: 1/2;
        grid-column: 4/5;
        justify-content: flex-start;
      }

      @media (max-width: $point1) {
        font-size: larger;
        &_left {
          grid-row: 2/3;
          grid-column: 1/4;
        }
        &_right {
          grid-row: 2/3;
          grid-column: 4/7;
        }
      }
    }
  }

  .price {
    &_header {
      position: absolute;
      top: -85px;
      right: -12px;
      transform: rotate(0deg) scale(0.5);
      z-index: 1;
    }
  }

  .pricetag {
    &__price {
      font-size: 85px;
      font-weight: 700;
      top: 0;
      left: 0;
      color: #ffffff;
      width: 264px;
      @media (max-width: $point1) {
        font-size: 85px;
        font-weight: 700;
        transform: scale(0.7);
        left: 0;
        color: #ffffff;
        width: 226px;
      }
    }
  }

  .icons {
    &_header {
      display: flex;
      grid-row: 1/2;
      grid-column: 3/4;
      justify-content: flex-end;
      align-items: center;
      border-top: 2px solid #e0e3ed;
      min-height: 108px;
      // margin: auto;
      @media (max-width: $point1) {
        // margin-top: 15px;
        display: flex;
        grid-row: 2/3;
        grid-column: 3/4;
        justify-content: center;
        align-items: center;
      }

      .icon {
        margin: 0 10px;
      }
    }

    .icon {
      cursor: pointer;
      align-items: center;
      padding: 10px 0;
      display: flex;
    }
  }

  .icon {
    &_viber {
      svg path {
        fill: #6c747b
      }
    }

    &_telegram {
      svg path {
        fill: #6c747b
      }
    }

    &_skype {
      svg path {
        fill: #6c747b
      }
    }

    &_instagram {
      svg path {
        stroke: #6c747b
      }
    }

    &_send {
    }

    &_map-marker-alt {
    }

    &_account-circle {
    }

  }

  .slider {
    box-shadow: 0 0 50px #9f9f9f38;
    position: relative;
    // height: 970px;
    height: 700px;
    @media (max-width: $point1) {
      margin-top: 0;
      height: 970px;
    }

    &_expand {
      .slider__form, .slider__description {
        opacity: 1
      }

      & * {
        transition: 200ms
      }
    }

    &_compress {
      .slider__form, .slider__description {
        opacity: 0;
        visibility: hidden
      }

      .h1 {
        top: 10px !important;
        left: 120px !important;
        width: 700px !important;
        font-size: xx-large !important;
        @media (max-width: $point1) {
          top: 150px !important;
          width: 100% !important;
          left: 35px !important;
        }
      }

      & * {
        transition: 200ms
      }
    }

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 700px;
      z-index: -1;
      background-position: center;
      background-size: cover;
      @media (max-width: $point1) {
        height: 500px;
        background-position: center;
        background-size: cover;
      }
    }

    &__button {
      position: absolute;
      top: 350px;
      cursor: pointer;

      &_left {
        left: -50px;
      }

      &_right {
        right: -50px;
      }
    }

    &__infos {
      display: inline-flex;
    }

    &__info {
      @include rectangle(65px, 50px);
      @include block();
      position: relative;
      margin-right: 15px;

    }

    &__goods {
      display: inline-flex;
      @media (min-width: $point1 + 1) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        overflow: hidden;
      }
    }

    &__good {
      @include rectangle(131px, 100px);
      @include block();
      @media (max-width: $point1) {
        margin-right: 15px;
      }
      @media (min-width: $point1 + 1) {
        // margin: 15px;
      }
      position: relative;

      .price {
        background: white;
        color: #b39494;
        width: 25px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        margin: 5px;
        float: left;
      }

      .byn {
        font-size: 8px;
        color: #b39494;
      }
    }

    &__form {
      @include rectangle(250px, auto);
      position: absolute;
      padding: 40px;
      background: $white;
      display: flex;
      flex-flow: row wrap;
      z-index: 1;
      border: 1px solid #ccc;
      box-shadow: 0 0 100px #3636335e;
      top: 270px;

      .form__field {
        padding-left: 45px
      }

      .form__label {
        left: 45px
      }

      .hideForm {
        opacity: 0;
        visibility: hidden;
        transition: 100ms
      }

      .form .icon {
        position: absolute;
        bottom: 0;
      }

      .btn_send {
        margin: 20px auto 0 auto
      }

      @media (max-width: $point1) {
        width: 200px !important;;
        padding: 25px !important;;
        right: 10px !important;
        top: 170px;
      }
    }

    &__description {
      @include rectangle(300px, 335px);
      @include scroll;
      overflow-x: hidden;
      position: absolute;
      padding: 25px;
      background: $white;
      display: flex;
      flex-flow: row wrap;
      @media (max-width: $point1) {
        top: 628px !important;
        left: 0 !important;
        width: 100%;
      }
    }

    &__description_text {
      font-size: smaller;
      text-align: left;

      p {
        padding-top: 15px;
      }
    }

    &__toggle {
      cursor: pointer;
      padding: 45px;
      z-index: 5;
      @media (max-width: $point1) {
        padding: 25px 10px 10px 10px;
      }

      svg path {
        fill: $c1;
      }
    }

    &__goods-mode {
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        padding: 10px;
        text-decoration: none;
      }
      .slider__good {
        border: 1px solid;
        margin: 20px;
        border-radius: 25px;
        text-align: center;
        box-shadow: 0 0 10px #6d6d6d inset;
      }
    }
    &__tag-name {
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      color: white;
      text-shadow: 1px 1px 4px #000, 1px 2px 4px #ccc;
    }


  }

  .scroller {
    &_h {
      @include scroll();
      position: absolute;
      display: flex;
      min-height: 50px;
      width: 433px;
      right: 0;
      padding: 15px;
      overflow-y: hidden;
      justify-content: center;
      @media (max-width: $point1) {
        &.infos {
          right: 0 !important;
          top: 420px !important;
          width: 100% !important;
          opacity: 0.13;

          &:hover {
            opacity: 1;
          }
        }
        &.goods {
          width: 100% !important;
          top: 510px !important;
          padding: 10px 0 10px;
        }
      }
    }

    &_toTop {
      top: 10px !important;
    }

    &__basket {
      width: 100%;
      /*&_expand {
        @media (max-width: $point1) {
          width: 230px;
          top: 240px;
          right: -5px;
        }
        @media (min-width: $point1+1) {
          width: 280px;
          top: 240px;
          right: 30px;
        }
      }
      &_compress {
        @media (max-width: $point1) {
          width: 230px;
          top: 590px;
          right: -15px;
        }
        @media (min-width: $point1+1) {
          top: 590px;
          right: -5px;
        }
      }*/
    }
  }

  .btn {
    cursor: pointer;

    &_send {
    }

    &_sended {
      color: #38ef7d
    }
  }

  .add-shopping-cart {
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    align-items: center;

    &::selection {
      background: none;
    }

    &:hover {
      .add-shopping-cart__circle .add-shopping-cart__circle {
        box-shadow: 2px 5px 5px #0003
      }
    }

    &:active {
      /*transform: rotate(-0deg)*/
    ;

      .add-shopping-cart__circle .add-shopping-cart__circle {
        box-shadow: -2px -2px 1px #0003;
        background: linear-gradient(145deg, rgba(92, 92, 92, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
      }
    }

    &__goods-length {
      position: absolute;
      right: -24px;
      font-size: xx-large;
      color: white;
      background: #091824;
      padding: 0 20px 0 40px;
      border-radius: 5px;
      top: 27px;
      z-index: -1;
    }

    &__circle {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.07);
      background: #6e767d;
      // background: linear-gradient(315deg, rgba(92,92,92,0.07) 0%, rgba(255,255,255,0.07) 100%);
      align-items: center;
      justify-content: center;
      display: flex;
      box-shadow: 2px 5px 13px #0003;

      > .add-shopping-cart__circle {
        width: 78px;
        height: 78px;
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(315deg, rgba(92, 92, 92, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);

        > .add-shopping-cart__circle {
          width: 59px;
          height: 59px;
          background: rgba(255, 255, 255, 0.2);
          background: linear-gradient(315deg, rgba(92, 92, 92, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);

          svg {
            width: 33px;

            path {
              fill: white
            }
          }
        }
      }
    }

    .text {
      margin-left: 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      color: $c1;
      background: #9b9b9b;
      padding: 0 10px;
      // background: green;
      &::selection {
        background: none;
      }
    }

    & * {
      transition: 100ms
    }

    &_slider-good {
      position: absolute;
      top: -42px;
      right: -57px;
      transform: scale(0.3);
      display: block;

      .add-shopping-cart__circle {
        background: #122533;
      }
    }

    &_text-hidden {
      .text {
        opacity: 0
      }
    }

    &_absolute {
      position: absolute;
      transform: rotate(-12deg);
      @media (min-width: $point1 + 1) {
        margin-left: 200px;
        left: 100px !important;
        top: 590px;
        .text {
          opacity: 0
        }
      }
      @media (max-width: $point1) {
        margin-left: 0;
        left: 10px !important;
        top: 290px;
        .text {
          opacity: 0
        }
      }
    }
  }

  .basket {
    display: inline-flex;
    background: white;
    padding: 0;
    width: 100%;
    /*@media (max-width: $point1) {padding: 25px 0 0 0;}*/
    .basket__good {
      @include rectangle(65px, 50px);
      @include block();
      margin-right: 2px;
    }
  }

  .h1 {
    position: absolute;
    font-weight: 700;
    font-size: xxx-large;
    color: $c1;
    text-shadow: 2px -3px 1px #f0f0f0, 3px 2px 1px #bebebe, 4px 2px 1px #6c747b30;

    &::selection {
      background: none
    }

    @media (min-width: $point1 + 1) {
      left: 45px;
      top: 52px;
    }
    @media (max-width: $point1) {
      width: 380px;
      font-size: xx-large !important;
      line-height: normal !important;
      text-align: right !important;
      top: 20px !important;
      padding-right: 0px;
      z-index: 1;
      max-width: 300px;
      right: 20px;
    }

    @media (max-width: $point2) {
      font-size: 27px !important;
      max-width: 216px;
    }
  }

  .footer {
    display: flex;
    grid-row: 4/5;
    grid-column: 1/9;
    justify-content: space-between;
    background: #9b9b9b;
    padding: 40px 20px;
    color: white;
    box-shadow: 0 0 160px #d8d8d8, 0 0 20px #979797;
    font-size: smaller;

    a {
      color: white;
    }

    @media (min-width: $point1) {
      overflow: auto;
    }
    @media (max-width: $point1) {
      overflow: auto;
    }
    @include scroll(#fff);

    footer {
      @include scroll(#fff);
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width: $point1) {
        min-width: $point1;
      }
    }
  }

  .thanks {
    .avatar {
      background-image: url(assets/photo/big/orange_2.jpg);
      background-position: 50% 10%;
      background-repeat: no-repeat;
      height: 90px;
      width: 100%;
      background-size: 700px;
      margin-bottom: 20px;
    }
  }

  .modal {
    position: absolute;
    top: 126px;
    min-width: 400px;
    left: 0;
    opacity: 0;
    z-index: 1;
    box-shadow: -2px 20px 50px 18px #ccc;
    border-radius: 2px;

    &_enabled {
      opacity: 1;
      visibility: visible;
    }

    &_disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}
